body {
    background-color: black;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.Welcome {
    background-image: url('header_bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: lighten;
    margin: 0;
    padding: 0;
    border: 0;
    height: 70vh; /* Use viewport height instead of a fixed percentage */
}

.navbar {
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    height: auto;
    width: 100px; /* Adjust width as needed */
}

.wt {
    text-align: center;
    color: white;
    font-size: 3rem; /* Adjust font size */
    margin: 0;
    padding: 10px 0;
}

.nav {
    text-decoration-line: none;
    color: white;
    font-size: 1.3rem; /* Adjust font size */
    text-align: center;
}

.nav:hover {
    color: hsl(273, 100%, 50%);
}

.head_img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.breakline {
    border-top: 5px solid rgba(0, 162, 255, 0.707);
    width: 100%;
}

.kys p,
.sm p {
    color: white;
    font-size: 3rem; /* Adjust font size */
    text-align: center;
    padding: 5% 10%;
    margin: 0;
}

.kys a,
.sm a {
    color: white;
    background-color: rgb(0, 162, 255);
    text-decoration: none;
    font-size: 1.3rem; /* Adjust font size */
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
}

.kys a:hover,
.sm a:hover {
    background-color: white;
    color: rgb(0, 162, 255);
}
