body{
    background-color: black;
}
.Welcome{
    background-image: url('header_bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
    background-blend-mode: lighten;
    margin: 0;
    padding: 0;
    border: 0;
    height: 70%;
    width: 100%;
}
.navbar{
    background-color: rgba(0, 0, 0, .5);
}
.logo{
    height: 12%;
    width: 12%;
}
.wt{
    text-align: center;
    color: white;
    font-size: 300%;
    padding-bottom: 0;
}
.nav{
    text-decoration-line: none;
    color: white;
    font-size: 100%;
    position: absolute;
    text-align: center;
    padding-left: 80%;
    padding-top: 3%;

}
.nav:hover{
    color: magenta;
}
.head_img{
    height: 50%;
    width: 50%;
    align-items: center;
    padding-left: 25%;
}